.navigation {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 80px;
}

.navigation h1 {
    color: rgb(246, 147, 74);
    font-size: 3rem;
}

.navigation li {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navigation a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(246, 147, 74);
}