.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/search.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 80px);
  width: 100vw;
  margin-top: 80px;
}

.search-area h1 {
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    margin-bottom: 1em;
    margin-top: -1em;
}

.search-bar input {
  width: 70vw;
  height: 3rem;
  background-color: white;
  color: rgb(119, 119, 119);
  padding: 0.5rem 2rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0.3rem 0.3rem 1.3rem rgb(0 0 0 / 0.2);
}

.search-bar button {
  background-color: black;
  color: white;
  width: 10vw;
  height: 4rem;
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  border-radius: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
