.find {
    position: absolute;
    background-color: rgb(246, 147, 74);
    color: white;
    font-size: 1.7rem;
    text-align: center;
    z-index: 2;
    border: none;
    border-radius: 7rem;
    width: 16vh;
    height: 16vh;
    padding: 3.5rem;
    left: 50%;
    top: 34vh;
    transform: translateX(-50%);
}